.header {
    display: flex;
    background-color: #9b59b6;
    width: 100%;
    height: 60px;
    border-bottom: 8px solid #8e44ad;
    top:0px;
    flex-shrink: 0;
    position: sticky;
    z-index: 1000;
}

.footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 20px;
    bottom:0px;
    position: sticky;
    flex-shrink: 0;
    color: white;
    text-align: center;
    padding: 2px;
}

.header_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.header_sub > h2 {
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    color:white;
    display:flex;
    height:20px;
    padding-right: 10px;
}

.menu_item {
    padding-left:20px ;
    margin: 5px 2px;
    margin-top:14px;
    font-size: 20px;
    font-weight:bolder;
    bottom: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.menu_item:hover {
    transform: scale(1.05);
    color: #ededed;
    transition: 0.2s ease-in-out;
}

